.Drawer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 80%;
	max-width: 300px;
	padding: 40px 25px;
	box-sizing: border-box;
	background-color: #fff;
	transform: translateX(0px);
	transition: all .2s ease-in;
	z-index: 90;
}

.Drawer.close {
	transform: translateX(-300px);
}

.Drawer ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.Drawer ul li {
	width: 100%;
	margin-bottom: 20px;
}

.Drawer ul li a {
	width: 100%;
	color: #363d54;
	cursor: pointer;
	position: relative;
	font-size: 30px;
	transition: opacity .3s;
	text-decoration: none;
}

.Drawer ul li a:hover,
.Drawer ul li a.active {
	opacity: .7;
	border-bottom: 2px solid;
}
