.MenuToggle {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 26px;
	color: white;
	transition: all .2s ease-in;
	cursor: pointer;
	z-index: 90;
}

.MenuToggle:hover {
	opacity: .7;
}

.open {
	left: 320px;
}
